<!--
A:link { color: #009966 }
A:visited { color: #ff0000 }
#NormalF {
PublisherStyleName: Normal;
font-family: Times New Roman;
font-size: 10.0pt;
color: #000080;
}
#NormalP {
text-align: left;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PWeb-body-F {
PublisherStyleName: [Web body];
font-family: Times New Roman;
font-size: 10.0pt;
color: #000080;
}
#PWeb-body-P {
text-align: left;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt1F {
PublisherStyleName: PubSt1;
font-family: Arial;
font-weight: bold;
font-size: 11.0pt;
color: #000080;
}
#PubSt1P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt2F {
PublisherStyleName: PubSt2;
font-family: Impact;
font-size: 14.0pt;
color: #000080;
}
#PubSt2P {
text-align: right;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt3F {
PublisherStyleName: PubSt3;
font-family: Times New Roman;
font-weight: bold;
font-size: 14.0pt;
color: #ffffff;
}
#PubSt3P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt4F {
PublisherStyleName: PubSt4;
font-family: Times New Roman;
font-weight: bold;
font-size: 28.0pt;
color: #ffff00;
}
#PubSt4P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt5F {
PublisherStyleName: PubSt5;
font-family: Arial;
font-weight: bold;
font-size: 9.0pt;
color: #ffffff;
}
#PubSt5P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt6F {
PublisherStyleName: PubSt6;
font-family: Arial;
font-size: 8.0pt;
color: #0000ff;
}
#PubSt6P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt7F {
PublisherStyleName: PubSt7;
font-family: Times New Roman;
font-size: 10.0pt;
color: #000080;
}
#PubSt7P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt8F {
PublisherStyleName: PubSt8;
font-family: Arial;
font-size: 10.0pt;
color: #000080;
}
#PubSt8P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt9F {
PublisherStyleName: PubSt9;
font-family: Arial;
font-weight: bold;
font-size: 9.0pt;
color: #000080;
}
#PubSt9P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#PubSt10F {
PublisherStyleName: PubSt10;
font-family: Arial;
font-weight: bold;
font-size: 40.0pt;
color: #000080;
height: 40px;
width: 100%;
}
#PubSt10P {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
-->
