<!--
A:link { color: #009966 }
A:visited { color: #ff0000 }
#Sans8NBF {
font-family: Arial;
font-size: 8.0pt;
color: BLUE;
}
#Sans9BNF {
font-family: Arial;
font-weight: bold;
font-size: 9.0pt;
color: NAVY;
}
#Sans11BNF {
font-family: Arial;
font-weight: bold;
font-size: 11.0pt;
color: NAVY;
}
#Sans14BPF {
font-family: Arial Black;
font-weight: bold;
font-size: 14.0pt;
color: PURPLE;
}
#Sans14INF {
font-family: Impact;
font-size: 14.0pt;
color: NAVY;
}
#Sans40BPF {
font-family: Arial;
font-weight: bold;
font-size: 40.0pt;
color: PURPLE;
height: 40px;
width: 100%;
}
#Serif12BGF {
font-family: Times New Roman;
font-weight: bold;
font-size: 12.0pt;
color: GRAY;
}
#Serif14BNF {
font-family: Times New Roman;
font-weight: bold;
font-size: 14.0pt;
color: NAVY;
}
#Serif14BWF {
font-family: Times New Roman;
font-weight: bold;
font-size: 14.0pt;
color: WHITE;
}
#Serif28BYF {
font-family: Times New Roman;
font-weight: bold;
font-size: 28.0pt;
color: YELLOW;
}
#AlignLeftP {
text-align: left;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#AlignCenterP {
text-align: center;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
#AlignRightP {
text-align: right;
margin-top: 0.0pt;
margin-bottom: 0.0pt;
}
-->
