AuthUserFile /export/home/plin/www/Authenticate/.htpasswd2
AuthGroupFile /dev/null
AuthName PatrickLin'sResume
AuthType Basic

<Limit GET>
require user PLIN plin HoSanNa Hosanna hosanna
</Limit>
